body {
    margin: 0;
    font-family: 'consolas';
}
.game-wrapper {
    
    background-color: lightblue;
    width: 100vw;
    height: 100vw;
}
.start-screen {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    border-color: grey;
    border-radius: 10px;
    background-color: whitesmoke;
    font-weight: bold;
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translate(-50%);
}

.fighter {
    position: absolute;
    background-image: url('/images/Ryu-standing1.png');
    width: 100px;
    height: 142px;
}

.hidden {
    display: none;
}